<div class="modifications">
    <div class="row">

        {% for complectation in oContainer.getActiveModification.getComplectations %}


    <a href="{{ path('catalog_rollsroyce_groups', parameters|merge({'complectationCode': complectation.getCode})) }}">

        <b>    {{ complectation.getRuname|rollsroyce_date_month_convertor }} </b>
    </a> <br/>



{% endfor %}
    </div>
</div>