<div class="modifications">
<div class="row">
    {% for modification in oContainer.getActiveModel.getModifications %}
         <div>
            {% block modification %}
             <div class="col-xs-2">
                <a href="{{ path('catalog_skoda_groups', parameters|merge({'modificationCode': modification.getCode})) }}">
                   {{ modification.getRuname }}
                </a>
             </div>
            {% endblock modification %}
        </div>
    {% endfor %}
</div>
</div>
