.main{
    margin-left: 20px;
}

.model{
    margin-left: 30px;
    font-weight: bold;
}

.modifications{
    margin-left: 50px;
}

.classifications{
    margin-left: 60px;
}

.groups{
    margin-left: 60px;
}