<div class="modifications">
<div class="row">
    {% for modification in oContainer.getActiveModel.getModifications %}
         <div>
            {% block modification %}

                {% set files = get_files('bundles/catalogford/Images') %}

                <a href="{{ path('catalog_ford_complectations', parameters|merge({'modificationCode': modification.getCode})) }}">
                <img src="{{ asset('bundles/catalogford/Images/62-'~modification.getOption('grafik')~'.png') }}" style ="width: 20%;" alt="{{ modification.getCode }}">
                    {{ modification.getRuname }}
                </a>

            {% endblock modification %}
        </div>
    {% endfor %}
</div>
</div>
