<div class="modifications">
<div class="row">
    {% for modification in oContainer.getActiveModel.getModifications %}
         <div>
            {% block modification %}

                <a href="{{ path('catalog_ford_complectations', parameters|merge({'modificationCode': modification.getCode})) }}">
                <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogford/Images/'~modification.getOption('grafik')) }}" style ="width: 20%;" alt="{{ modification.getCode }}">
                    {{ modification.getRuname }}
                </a>

            {% endblock modification %}
        </div>
    {% endfor %}
</div>
</div>
