{% extends 'CatalogCommonBundle:Catalog:01_regions_models.html.twig' %}
{% use 'CatalogSubaruBundle::subaru.base.html.twig' %}
{% block regionPath %}{{ path('articul_subaru_find', {'regionCode': region.getCode}) }}{% endblock regionPath %}
{% block ajaxUrl %}{{ path('articul_subaru_modifications') }}{% endblock ajaxUrl %}
{% block head %}
    <h3>Запчасть с таким артикулом найдена в следующих моделях:</h3>
    {{ parent() }}
{% endblock head %}