<div class="modifications">
    <div class="row">
{% for res in result %}


            <a href="">

                <b>    {{ res['name']|bmw_date_month_convertor }} </b>
            </a> <br/>



{% endfor %}
    </div>
</div>