<div class="modifications">
    <div class="row">

        {% for complectation in oContainer.getActiveModification.getComplectations %}


    <a href="{{ path('catalog_bmw_groups', parameters|merge({'complectationCode': complectation.getCode})) }}">

        <b>   {{ trans(complectation.getRuname|bmw_date_month_convertor, app.request.get('_locale')) }}</b>
    </a> <br/>



{% endfor %}
    </div>
</div>