<div class="modifications">
    <div class="row">

        {% for complectation in oContainer.getActiveModification.getComplectations %}


    <a href="{{ path('catalog_bmw_groups', parameters|merge({'complectationCode': complectation.getCode})) }}">

        <b>{{ complectation.getRuname|bmw_date_month_convertor|trans({}, 'bmw') }}</b>
    </a> <br/>



{% endfor %}
    </div>
</div>