{% block specification %}{% endblock specification %}
{% block button %}
    <div class="row">
        <div class="col-lg-3">
            <a class="btn btn-default" href="{% block catalogPath %}{% endblock catalogPath %}">Перейти в каталог</a>
        </div>
    </div>
{% endblock button %}