{% extends 'CatalogCommonBundle:Catalog:04_groups.html.twig' %}
{% use 'CatalogMazdaBundle::mazda.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('catalog_mazda') }}">Выбрать регион, модель, модификацию</a> / Выбрать группу запчастей
{% endblock breadcrumbs %}

{% block complectation %}{% endblock complectation %}

{% block pathToSubgroup %}{{ path('articul_mazda_subgroups', parameters|merge({'groupCode': group.getCode})) }}{% endblock pathToSubgroup %}