{% extends 'CatalogCommonBundle:Catalog:02_modifications.html.twig' %}
{% use 'CatalogSuzukiBundle::suzuki.base.html.twig' %}
{% block modification %}
    <a href="{{ path('articul_suzuki_complectations', parameters|merge({'modificationCode': modification.getCode})) }}">
        {{ modification.getRuname }}
    </a>
{% endblock modification %}
