<div class="row">
    {% set vncsListLenght = vncsList|length %}
    <div class="col-xs-6">
        {% for data in vncsList  %}
            {% if loop.index <= vncsListLenght/2|round %}
                {% include "CatalogMitsubishiBundle:Default:_vncs_sublist.html.twig" with {'data': data} %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-xs-6">
        {% for data in vncsList %}
        {% if loop.index > vncsListLenght/2|round %}
            {% include "CatalogMitsubishiBundle:Default:_vncs_sublist.html.twig" with {'data': data} %}
        {% endif %}
        {% endfor %}
    </div>
</div>
