{% extends 'CatalogVolkswagenBundle:Catalog:01_regions_models.html.twig' %}
{% use 'CatalogVolkswagenBundle::volkswagen.base.html.twig' %}
{% block regionPath %}{{ path('articul_volkswagen_find', {'regionCode': region.getCode}) }}{% endblock regionPath %}
{% block ajaxUrl %}{{ path('articul_volkswagen_modifications') }}{% endblock ajaxUrl %}
{% block head %}
    <h3>Запчасть с таким артикулом найдена в следующих моделях:</h3>
    {{ parent() }}
{% endblock head %}