<div class="modifications">
    <div class="row">
        {% for modification in oContainer.getActiveModel.getModifications %}
            <div>
                {% block modification %}

                    <a href="{{ path('articul_rollsroyce_complectations', parameters|merge({'modificationCode': modification.getCode, 'articul': app.request.get('articul')})) }}">

                        {{ modification.getRuname }}
                    </a>

                {% endblock modification %}
            </div>
        {% endfor %}
    </div>
</div>
