{% extends 'CatalogBmwBundle:Catalog:01_regions_models.html.twig' %}
{% use 'CatalogBmwBundle::bmw.base.html.twig' %}
{% block regionPath %}

    {% if app.request.get('token') %}

        {{ path('articul_bmw_find_token', {'token': app.request.get('token'), 'regionCode': region.getCode }) }}

    {% else %}

        {{ path('articul_bmw_find', {'regionCode': region.getCode}) }}

    {% endif %}

{% endblock regionPath %}
{% block ajaxUrl %}{{ path('articul_bmw_modifications') }}{% endblock ajaxUrl %}
{% block head %}
    <h3>Запчасть с таким артикулом найдена в следующих моделях:</h3>
    {{ parent() }}
{% endblock head %}