<div class="modifications">
<b style=" color: green; ">Год выпуска:</b>
<div class="row">
    {% for modification in oContainer.getActiveModel.getModifications %}
         <div>
            {% block modification %}
            <div class="col-xs-3">
                <a href="{{ path('catalog_hondaeurope_complectations', parameters|merge({'modificationCode': modification.getCode})) }}">
                    {{ modification.getRuname }}
                </a>
            </div>
            {% endblock modification %}
        </div>
    {% endfor %}
</div>
</div>
