{% extends 'CatalogInfinitiBundle:Catalog:01_regions_models.html.twig' %}
{% use 'CatalogInfinitiBundle::infiniti.base.html.twig' %}
{% block regionPath %}{{ path('articul_infiniti_find', {'regionCode': region.getCode}) }}{% endblock regionPath %}
{% block ajaxUrl %}{{ path('articul_infiniti_modifications') }}{% endblock ajaxUrl %}
{% block head %}
    <h3>Запчасть с таким артикулом найдена в следующих моделях:</h3>
    {{ parent() }}
{% endblock head %}