<div class="modifications">
    <div class="row">
        {% for modification in oContainer.getActiveModel.getModifications %}
            <div>
                {% block modification %}
                    <div class="row">
                        <a href="{{ path('articul_infiniti_complectations', parameters|merge({'modificationCode': modification.getCode})) }}">
                            {{ modification.getRuname }}
                            ({{ modification.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::START_DATE'))|infiniti_date_convertor }} -
                            {{ modification.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::END_DATE'))|infiniti_date_convertor }})
                        </a>
                    </div>
                {% endblock modification %}
            </div>
        {% endfor %}
    </div>
</div>
