<div class="modifications">
    <div class="row">
        {% for modification in oContainer.getActiveModel.getModifications %}
            {% block modification %}
                <a href="{{ path('articul_kia_complectations', parameters|merge({'modificationCode': modification.getCode})) }} " class="thumbnail">
                    <div {#class="row"#} style="display: flex; align-items: center;">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <img src="{{ (constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogkia/Imgs/Cutups/'~modification.getOption('option1')~'.rle')|file_exists() ?
                            asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogkia/Imgs/Cutups/'~modification.getOption('option1')~'.rle'):
                            asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogkia/Imgs/Cutups/0.rle')
                            }}"
                                 class="img-responsive"
                                 alt="{{ modification.getCode }}">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            {{ modification.getRuname }}
                        </div>
                    </div>
                </a>
            {% endblock modification %}
        {% endfor %}
    </div>
</div>
