{% extends 'CatalogCommonBundle:Catalog:04_groups.html.twig' %}
{% use 'CatalogSubaruBundle::subaru.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('vin_subaru',parameters) }}">Поиск по номеру кузова</a> / Выбрать группу запчастей
{% endblock breadcrumbs %}



{% block pathToSubgroup %}{{ path('vin_subaru_subgroups', parameters|merge({'groupCode': group.getCode})) }}{% endblock pathToSubgroup %}