{% extends 'CatalogCommonBundle:Catalog:01_regions_models.html.twig' %}
{% use 'CatalogSmartBundle::smart.base.html.twig' %}
{% block regions %}{% endblock regions %}
{% block regionPath %}{{ path('articul_smart_find', {'regionCode': region.getCode}) }}{% endblock regionPath %}
{% block ajaxUrl %}{{ path('articul_smart_modifications') }}{% endblock ajaxUrl %}
{% block head %}
    <h3>Запчасть с таким артикулом найдена в следующих моделях:</h3>
    {{ parent() }}
{% endblock head %}