{% extends 'CatalogCommonBundle::base.html.twig' %}
{% use 'CatalogSmartBundle::smart.base.html.twig' %}
{% block body %}
    {% block commonArticulHead %}<h4>Общие запчасти</h4>{% endblock  commonArticulHead%}
        <a href="{{ parameters.redirectAdress|replace({ '{article}':  oContainer.getActiveArticul.getCode }) }}" target="_blank">{{ oContainer.getActiveArticul.getCode }}</a>
{% endblock body %}